<ul class="nav--item__container">
    {% for link in linklists.main-menu.links %}
        {% assign child_list_handle = link.title | handleize %}

        {% if linklists[child_list_handle].links != blank %}
            <li class="dropdown__container">
                <button class="nav--dropdown__trigger" type="button">{{ link.title }}</button>

                <ul class="dropdown" aria-expanded="false">
                    {% for childLink in linklists[child_list_handle].links %}
                        <li class="link-item" onclick="window.location.href = '{{ childLink.url }}'">
                            <a href="{{ childLink.url }}" title="{{ childLink.title | escape }}">{{ childLink.title | escape}}</a>
                        </li>

                    {% endfor %}
                </ul>
            </li>

        {% else %}
            <li class="nav-item" onclick="window.location.href = '{{ link.url }}'">
                <a href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title | escape}}</a>
            </li>

        {% endif %}
    {% endfor %}

    {% if shop.customer_accounts_enabled %}
        {% if customer %}
            <li class="nav--item" onclick="window.location.href = '{{ childLink.url }}'">
                <a href="/account" title="Go to your account">
                    Account <br/><span class="m-nav__account-name">({{ customer.email }})</span>
                </a>
            </li>
            <li class="nav--item" onclick="window.location.href = '{{ childLink.url }}'">
                <a href="/account/logout" title="Log out">Log out</a>
            </li>

        {% else %}
            <li class="nav--item visually-hidden" onclick="window.location.href = '{{ childLink.url }}'">
                <a href="/account/login" title="Log in to your account">Log in</a>
            </li>

            <a class="nav--item customer--login" href="/account/login" title="Log in to your account">
                <span class="visually-hidden">Customer Login</span>
                {% render 'icon-login' %}
            </a>



        {% endif %}
    {% endif %}

    <li class="cart--trigger__container">
        {% if cart.item_count > 0 %}
            <div class="cart--count__container">
                <span id="cart--count" class="cart--count" aria-label="Amount of items in cart">[{{ cart.item_count }}]</span>
            </div>

        {% else %}
            <div class="cart--count__container">
                <span id="cart--count" class="cart--count" aria-label="Amount of items in cart"></span>
            </div>
        {% endif %}

        <button class="cart--icon__container" type="button">
            <span class="visually-hidden">Shopping Cart</span>
            {% render 'icon-bag' %}
        </button>
    </li>
</ul>
